<template>
    <main>
        <iframe :src="url_wordpress" width="100%"
                height="100%"
                style="border: none; position: absolute; z-index: 2;"></iframe>
        <v-container fill-height>
            <v-layout row wrap align-center>
                <v-flex offset-xs4 xs4>
                    <v-card color="white" class="black--text">
                        <v-layout>
                            <v-flex>
                                <v-card-title><h1>Oops</h1></v-card-title>
                                <v-divider></v-divider>
                                <v-card-text><p>Il semblerait que vous n'ayez pas internet</p></v-card-text>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>


    </main>
</template>

<script>
    export default {
        name: "blog",
        mounted()
        {
            if (localStorage.getItem('wpUrl')) this.url_wordpress = JSON.parse(localStorage.getItem('wpUrl'));
        },
        data:() => ({
              url_wordpress: '',
        }),
    }
</script>

<style scoped>
    main {
        position: relative;
        height: 100vh;
        overflow: hidden;
        padding-top: 32px;
        background-color: #d8d8d8;
    }

</style>