<template>
    <main>
        <v-layout row wrap>
            <v-flex xs12 offset-sm1 sm10>
                <v-card class="white">
                    <div v-if="imageUrl !== ''">
                        <v-card-media
                                :src="imageUrl"
                                height="500px"
                        ></v-card-media>
                    </div>
                    <div v-else>
                        <v-card-media
                                :src="require('@/assets/img/cloud-upload.png')"
                                height="350px"
                                contain
                        ></v-card-media>
                    </div>

                    <v-card-title primary-title>

                    </v-card-title>
                    <v-card-text>
                        <v-text-field label="Choisir l'image d'entéte" @click='pickFile' v-model='imageName'
                                      prepend-icon='attach_file'></v-text-field>
                        <input
                                type="file"
                                style=" display: none"
                                ref="image"
                                accept="image/*"
                                @change="onFilePicked"
                        >
                        <v-flex>
                            <v-text-field v-model="titre" label="Titre"></v-text-field>
                        <v-switch
                                color="orange"
                                :label="publication"
                                v-on:change="checkSwitch"
                                v-model="publier"
                        ></v-switch>
                        </v-flex>
                        <br/>
                        <v-divider></v-divider>
                        <br/>
                        <div id="wisig">
                            <tinymce id="d1" v-model="texte" :plugins="pluginsarray" @input="createRead"
                                     toolbar1="formatselect,bold, italic,bullist, numlist,link,blockquote,alignleft, aligncenter, alignright,spellchecker,pagebreak"
                                     toolbar2=" strikethrough,underline,hr,  alignjustify, ,forecolor,paste,   charmap,outdent, indent,undo, redo"></tinymce>
                        </div>
                    </v-card-text>
                    <v-layout justify-center>
                        <v-card-actions>
                            <v-btn flat color="orange" @click="preview">Préviualiser</v-btn>
                            <v-btn flat color="orange" @click="addArticle($event)">Enregistrer</v-btn>
                        </v-card-actions>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>
        <br/>
    </main>
</template>

<script>
    import tinymce from '../../../node_modules/vue-tinymce-editor'

    export default {
        name: "ecrirepage",
        components: {
            tinymce: tinymce
        },
        data: () => ({
            publication: 'Brouillon',
            read: '',
            publier: false,
            statut: 'brouillon',
            texte: '',
            titre: '',
            imageName: '',
            imageUrl: '',
            photo: '',
            pluginsarray: ['advlist', 'hr', 'lists', 'charmap', 'print', 'preview', 'charmap', 'textcolor', 'colorpicker', ' paste', ' pagebreak', 'code']
        }),
        methods: {
            pickFile() {
                this.$refs.image.click()
            },
            checkSwitch() {
                if (this.publier == true) {
                    this.publication = "Publier"
                    this.statut = 'publié'
                }
                else {
                    this.publication = "Brouillon"
                    this.statut = 'brouillon'
                }
            },
            createRead() {
                let n = this.texte.indexOf("</p>");
                this.read = this.texte.substring(0, n + 4);
            },
            onFilePicked(e) {
                const files = e.target.files
                if (files[0] !== undefined) {
                    this.imageName = files[0].name
                    if (this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.imageUrl = fr.result
                        this.photo = files[0] // this is an image file that can be sent to server...
                    })
                } else {
                    this.imageName = ''
                    this.photo = ''
                    this.imageUrl = ''
                }
            },
            preview: function () {
                event.preventDefault();
                tinyMCE.activeEditor.execCommand('mcePreview');
            },
            addArticle: function (event) {
                event.preventDefault();

                let sqlite = this.$db.sqlite;
                let db = new sqlite.Database(this.$db.filename, (err) => {
                    if (err) {
                        console.error(err.message);
                    }
                    else {
                        let sql = 'INSERT INTO page (contenu,statut,image_entete,titre,read) VALUES (?,?,?,?,?)';

                        // first row only
                        db.run(sql, [this.texte, this.statut, this.photo, this.titre, this.read], (err, row) => {
                            if (err) {
                                return console.error(err.message);
                            }
                            else {
                                this.$router.push('ecrirePage');
                            }

                        });
                        db.close();
                    }
                })
            }
        }

    }
</script>

<style scoped>

    main {
        position: relative;
        overflow: auto;
        height: 100vh;
        padding-top: 50px;
        padding-left: 300px;
        background-color: #d8d8d8;
    }

</style>