<template>
    <main>
        <div class="container-fluid">
            <div style="position: fixed">
                <v-btn
                        v-if="this.$route.params.name != null"
                        fab
                        top
                        left
                        color="pink"
                        @click="showFolders"
                >
                    <v-icon style="padding-top: 15px;">chevron_left</v-icon>
                </v-btn>
            </div>
            <v-container fluid>
                <div v-if="this.$route.params.name != null">
                    <transition-group name="fade" tag="v-layout" class="row wrap"
                                      style="margin-left: 70px; margin-right: 70px" :class="binding" mode="out-in">
                        <div v-for="image in images" :key="image.id" class="flex xs3 list-card">
                            <img width="100%" height="100%" :src="image.src"
                                 @click="openGallery(image.id)">
                        </div>
                    </transition-group>
                    <div v-if="images.length != 0">
                        <LightBox :images="images" ref="lightbox" :show-light-box="false"></LightBox>
                    </div>
                    <div style="position: fixed">
                        <v-dialog
                                v-if="this.$route.params.name != null"
                                v-model="dialog"
                                width="500"
                        >
                            <v-card color="white">
                                <v-card-title class="headline" primary-title>
                                    Ajouter une image
                                </v-card-title>
                                <v-card-text>
                                    <v-text-field
                                            v-model="folderName"
                                            :rules="nameRules"
                                            :counter="30"
                                            label="Nom du dossier"
                                            required
                                    ></v-text-field>
                                </v-card-text>

                                <v-divider></v-divider>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                            color="primary"
                                            flat
                                            @click="addFolder(folderName,folders)"
                                    >
                                        Ajouter
                                    </v-btn>
                                    <v-btn
                                            color="error"
                                            flat
                                            @click="dialog = false"
                                    >
                                        Fermer
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                            <v-btn
                                    v-if="this.$route.params.name != null"
                                    slot="activator"
                                    style="margin-right: 15px"
                                    fixed
                                    fab
                                    bottom
                                    right
                                    color="pink"
                            >
                                <v-icon style="padding-top: 15px;">add</v-icon>
                            </v-btn>
                        </v-dialog>
                    </div>
                </div>
                <div v-else>
                    <transition-group name="fade" tag="v-layout" class="row wrap"
                                      style="margin-right: 70px; margin-left: 70px" :class="binding" mode="out-in">
                        <div v-for="folder in folders" :key="folder" class="flex xs3 list-card">
                            <v-card flat hover>
                                <div v-on:click="openFolder(folder)">
                                    <v-card-media
                                            contain
                                            :src="require('@/assets/img/folder.png')"
                                            height="200px"
                                    ></v-card-media>

                                    <v-card-title primary-title class="justify-center">
                                        <div>
                                            <p class="headline text-xs-center">{{folder}}</p>
                                        </div>
                                    </v-card-title>
                                </div>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn icon>
                                        <v-icon>delete</v-icon>
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </div>
                    </transition-group>
                </div>
            </v-container>
            <v-dialog
                    v-if="this.$route.params.name == null"
                    v-model="dialog"
                    width="500"
            >

                <v-card color="white">
                    <v-card-title class="headline" primary-title>
                        Ajouter un dossier d'image
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                                v-model="folderName"
                                :rules="nameRules"
                                :counter="30"
                                label="Nom du dossier"
                                required
                        ></v-text-field>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                                color="primary"
                                flat
                                @click="addFolder(folderName,folders)"
                        >
                            Ajouter
                        </v-btn>
                        <v-btn
                                color="error"
                                flat
                                @click="dialog = false"
                        >
                            Fermer
                        </v-btn>
                    </v-card-actions>
                </v-card>
                <v-btn
                        v-if="this.$route.params.name == null"
                        slot="activator"
                        style="margin-right: 15px"
                        fixed
                        fab
                        bottom
                        right
                        color="pink"
                >
                    <v-icon style="padding-top: 15px;">add</v-icon>
                </v-btn>
            </v-dialog>
        </div>

    </main>
</template>

<script>
    import path from 'path';
    import LightBox from 'vue-image-lightbox'

    require('vue-image-lightbox/dist/vue-image-lightbox.min.css')
    let remote = require('electron').remote;
    let electronFs = remote.require('fs');


    let pathh = path.join(remote.app.getPath('userData'), '/img');

    export default {
        name: "galerie",
        components: {
            LightBox,
        },
        data: () => ({
            images: [],
            folders: [],
            folderName: '',
            dialog: false,
            nameRules: [
                v => !!v || 'Le nom de dossier est obligatoire',
                v => v.length <= 30 || 'Le nom de dossier doit faire moins de 30 caractères'
            ]
        }),
        mounted() {
            if (this.$route.params.name == null) {
                this.readDir(this.folders);
                this.hidden = true;
            }
            if (this.$route.params.name != null) {
                this.readImageinDir(this.images, this.$route.params.name)
                this.hidden = false;
            }
        },
        methods: {
            readDir(array) {
                array.length = 0;
                electronFs.readdir(pathh, function (err, items) {
                    for (let i = 0; i < items.length; i++) {
                        array.push(items[i]);
                    }
                });
            },
            readImageinDir(array, dirName) {
                array.length = 0;
                electronFs.readdir(pathh + '/', function (err, items) {
                    for (let i = 0; i < items.length; i++) {
                        if (items[i] === dirName) {
                            electronFs.readdir(pathh + '/' + dirName, function (err, items) {
                                for (let i = 0; i < items.length; i++) {
                                    let id = i;
                                    electronFs.readFile(pathh + '/' + dirName + '/' + items[i], (err, data) => {
                                        if (err) throw err;
                                        let blob = new Blob([data]);
                                        let reader = new FileReader();
                                        reader.readAsDataURL(blob)
                                        reader.onloadend = function () {
                                            let base64data = reader.result;
                                            let image = {thumb: base64data, src: base64data, id: id};
                                            array.push(image);
                                        }

                                    })
                                }
                            })
                        }
                    }
                })
            },
            openFolder(folderName) {
                this.$router.push({name: 'galerieparam', params: {name: folderName}})
                this.readImageinDir(this.images, folderName)

            },
            showFolders() {
                this.$router.push({name: 'galerie', params: {name: null}})
                this.readDir(this.folders);
            },
            openGallery(index) {
                this.$refs.lightbox.showImage(index)
            },
            addFolder(name, array) {
                let pathh = path.join(remote.app.getPath('userData'), '/img/' + name);
                electronFs.mkdir(pathh, function (err) {
                    if (err) {
                        console.log('mkdir err:' + err)
                    }
                    console.log('New Directory Created')
                    array.push(name)
                    this.folderName = "";
                })
            },
            removeFolder(array, folder) {

            }

        },
        computed: {
            binding() {
                const binding = {}
                if (this.$vuetify.breakpoint.sm) binding.column = true
                return binding
            }
        }
    }

</script>

<style scoped>
    main {
        position: relative;
        overflow: auto;
        height: 100vh;
        padding-left: 90px;
        padding-top: 50px;
        background-color: #d8d8d8;
    }

    .list-card {
        transition: all 1s;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .fade-leave-active {
        position: absolute;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
        transform: translateY(50px);
    }

</style>