<template>
    <main>
        <v-container fill-height>
            <v-layout row wrap align-center>
                <v-flex offset-xs2 xs8>
                    <v-card color="white" class="black--text">
                        <v-layout>
                            <v-flex >
                                <v-card-media
                                        :src="require('@/assets/img/login.jpg')"
                                        height="100%"
                                        width="100%"
                                ></v-card-media>
                            </v-flex>
                            <v-flex>
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">Connexion</div>
                                    </div>
                                </v-card-title>
                                <v-divider light></v-divider>
                                <v-card-text>
                                    <transition name="fade">
                                        <p v-if="error === true" class="red--text text-md-center">Le login et/ou mot de
                                            passe est incorrect</p>
                                    </transition>
                                    <v-form>
                                        <v-text-field
                                                v-model="login"
                                                label="Login"
                                                required
                                        ></v-text-field>
                                        <v-text-field
                                                :append-icon="show4 ? 'visibility_off' : 'visibility'"
                                                :type="show4 ? 'text' : 'password'"
                                                name="input-10-2"
                                                v-model="password"
                                                label="Password"
                                                error
                                                @click:append="show4 = !show4"
                                        ></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions class="pa-3">
                                    <v-spacer></v-spacer>
                                    <v-btn @click="tryToconnect($event)">Connexion</v-btn>
                                </v-card-actions>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
        <v-snackbar
                v-model="snackbar">
            {{ 'Bienvenue ' + this.login }}
            <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false">
                Close
            </v-btn>
        </v-snackbar>
    </main>
</template>

<script>


    export default {
        name: "index",
        data: () => ({
            snackbar: '',
            login: '',
            password: '',
            error: false,
            show4: false,
        }),
        methods: {
            tryToconnect(event) {
                event.preventDefault();
                this.error = false;
                let sqlite = this.$db.sqlite;
                console.log(this.$db.filename);
                let db = new sqlite.Database(this.$db.filename, (err) => {
                    if (err) {
                        console.error(err.message);
                    }
                    else {
                        let sql = `SELECT login,
                  password,
                  url_wordpress
           FROM User
           WHERE login  = ? AND password = ?`;

                        // first row only
                        db.get(sql, [this.login, this.password], (err, row) => {
                            if (err) {
                                return console.error(err.message);
                            }
                            else if (row != null) {
                                this.snackbar = true;
                                localStorage.setItem('login', JSON.stringify(row.login));
                                localStorage.setItem('wpUrl', JSON.stringify(row.url_wordpress));
                                let router = this.$router;
                                setTimeout(function () {
                                    router.push('/accueil');
                                }, 1000);
                            }
                            else {
                                this.error = true;
                            }
                        });
                        db.close();
                    }
                })
            }

        }
    }
</script>

<style scoped>
    main {
        position: relative;
        overflow: auto;
        height: 100vh;
        padding-left: 0px !important;
        background-color: #d8d8d8;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }
</style>