<template>
    <main>
        <v-container fill-height>
            <v-layout row wrap align-center>
                <v-flex xs12>
                    <v-card color="white" class="black--text">
                        <v-layout>
                            <v-flex xs5>
                                <v-card-media
                                        :src="require('@/assets/img/login.jpg')"
                                        height="100%"
                                        width="100%"
                                ></v-card-media>
                            </v-flex>
                            <v-flex xs7>
                                <v-card-title primary-title>
                                    <div>
                                        <div class="headline">Initialiser votre compte</div>
                                    </div>
                                </v-card-title>
                                <v-divider light></v-divider>
                                <v-card-text>
                                    <transition name="fade">
                                        <p v-if="error === true" class="red--text text-md-center">Le login et/ou mot de
                                            passe est incorrect</p>
                                    </transition>
                                    <v-form>
                                        <v-text-field
                                                v-model="login"
                                                label="Login"
                                                hint="Mettez votre login"
                                                required
                                        ></v-text-field>
                                        <v-text-field
                                                name="input-10-2"
                                                v-model="password"
                                                label="Password"
                                                required
                                                hint="Mettez votre mot de passe"
                                        ></v-text-field>
                                        <v-text-field
                                                name="input-10-2"
                                                v-model="urlwordpress"
                                                required
                                                label="Url"
                                                hint="Mettez l'url de votre wordpress"
                                        ></v-text-field>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions class="pa-3">
                                    <v-spacer></v-spacer>
                                    <v-btn @click="checkForm($event)">C'est partit !</v-btn>
                                </v-card-actions>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </main>
</template>
<script>
    import sqlite3 from 'sqlite3';

    export default {
        name: "initUser",
        data: () => ({
            login: '',
            password: '',
            urlwordpress: '',
        }),
        methods: {
            checkForm: function (event) {
                event.preventDefault();
                let sqlite = this.$db.sqlite;
                let db = new sqlite.Database(this.$db.filename, (err) => {
                    if (err) {
                        console.error(err.message);
                    }
                    else {
                        db.run(`INSERT INTO User (login,password,url_wordpress,image_profil,image_bg,tutoriel) VALUES(?,?,?,?,?,?)`, [this.login, this.password, this.urlwordpress, '', '', 0], function (err) {
                            if (err) {
                                return console.log(err.message);
                            }
                            else {
                            }

                        });
                        db.close();
                    }
                })

                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>
    main {
        position: relative;
        overflow: auto;
        height: 100vh;
        background-color: #d8d8d8;
    }
</style>