<template>
    <main>
        <div class="container-fluid" style="margin-top: 50px; margin-bottom: 10px;">
            <div class="row">
                <div class="col-md-12" id="filter">
                    <v-btn flat @click="showAll">Aucun filtre</v-btn>
                    <v-btn flat @click="showBrouillon">Brouillon</v-btn>
                    <v-btn flat @click="showPublier">Publié</v-btn>

                </div>
                <v-divider></v-divider>
                <v-container fluid>
                    <v-layout v-bind="binding">
                        <transition-group name="fade" tag="v-layout" class="row wrap" :class="binding" mode="out-in">
                            <div v-for="article in jsonarticle" v-bind:key="article.id" class="flex xs3 list-card"
                                 v-if="article.statut === 'publié'" v-show="publier">
                                <v-card color="white">
                                    <div v-if="article.image_entete !== null">
                                        <v-card-media
                                                :src="article.image_entete"
                                                contain
                                        ></v-card-media>
                                    </div>
                                    <div v-else>
                                        <v-card-media
                                                :src="require('@/assets/img/noimg.png')"
                                                height="150px"
                                        ></v-card-media>
                                    </div>
                                    <v-card-title primary-title>
                                        <div>
                                            <h3 class="headline mb-0">{{article.titre}}</h3>
                                            <div v-html="article.statut"></div>
                                        </div>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text>
                                        <p v-html="article.read"></p>
                                    </v-card-text>
                                    <v-card-actions class="pa-3">
                                        <v-spacer></v-spacer>
                                        <router-link :to="{ name: 'showPage', params: { id: article.id }}">
                                            <v-btn flat color="indigo">Read
                                                More
                                            </v-btn>
                                        </router-link>
                                    </v-card-actions>
                                </v-card>
                            </div>
                            <div v-for="article in jsonarticle" :key="article.id" class="flex xs3 list-card"
                                 v-if="article.statut === 'brouillon'" v-show="brouillon">
                                <v-card color="white">
                                    <div v-if="article.image_entete !== null">
                                        <v-card-media
                                                :src="article.image_entete"
                                                contain
                                        ></v-card-media>
                                    </div>
                                    <div v-else>
                                        <v-card-media
                                                :src="require('@/assets/img/noimg.png')"
                                                height="150px"
                                        ></v-card-media>
                                    </div>
                                    <v-card-title primary-title>
                                        <div>
                                            <h3 class="headline mb-0">{{article.titre}}</h3>
                                            <div v-html="article.statut"></div>
                                        </div>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text>
                                        <p v-html="article.read"></p>
                                    </v-card-text>
                                    <v-card-actions class="pa-3">
                                        <v-spacer></v-spacer>
                                        <router-link :to="{ name: 'showPage', params: { id: article.id }}">
                                            <v-btn flat color="indigo">Read
                                                More
                                            </v-btn>
                                        </router-link>
                                    </v-card-actions>
                                </v-card>
                            </div>
                        </transition-group>
                    </v-layout>
                </v-container>
            </div>
        </div>
    </main>
</template>
<script>
    export default {
        name: 'landing-page',
        mounted() {
            this.getArticleInformations()
        },
        data: () => ({
            jsonarticle: [],
            publier: true,
            brouillon: true,
        }),
        methods: {
            getArticleInformations() {
                let sqlite = this.$db.sqlite;
                let db = new sqlite.Database(this.$db.filename, (err) => {
                    if (err) {
                        console.error(err.message);
                    }
                    else {
                        console.log('Connected to the database.');
                    }
                });
                let sql = "SELECT read,titre,image_entete,statut,id from page";
                let jsonArticles = [];
                db.all(sql, [], (err, rows) => {
                    if (err) {
                        throw err;
                    }
                    rows.forEach((row) => {
                        let jsonarticle = new Object();
                        jsonarticle.read = row.read;
                        jsonarticle.id = row.id;
                        jsonarticle.titre = row.titre;
                        jsonarticle.statut = row.statut;
                        if (row.image_entete != null) {
                            let blob = new Blob([row.image_entete.buffer]);
                            jsonarticle.image_entete = URL.createObjectURL(blob)
                        } else {
                            jsonarticle.image_entete = row.image_entete;
                        }

                        jsonArticles.push(jsonarticle)
                    })
                });
                this.jsonarticle = jsonArticles;
            },
            showAll() {
                this.publier = true;
                this.brouillon = true;
            },
            showBrouillon() {
                this.publier = false;
                this.brouillon = true;
            },
            showPublier() {
                this.publier = true;
                this.brouillon = false;
            }
        },
        computed: {
            binding() {
                const binding = {}

                if (this.$vuetify.breakpoint.sm) binding.column = true

                return binding
            }
        }
    }

</script>

<style scoped>


    main {
        padding-top: 32px;
        position: relative;
        overflow: auto;
        height: 100vh;
        width: 100%;
        background-color: #d8d8d8;
    }

    .list-card {
        transition: all 1s;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .fade-leave-active {
        position: absolute;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
        transform: translateY(30px);
    }


</style>
