<template>
    <main>
        <v-container fluid grid-list-md>
            <v-layout child-flex wrap>
                <v-flex xs12 sm6 offset-md1 md10 >
                    <v-speed-dial
                            bottom
                            right
                            fixed
                    >
                        <v-btn
                                slot="activator"
                                color="blue darken-2"
                                dark
                                fab
                        >
                            <v-icon>account_circle</v-icon>
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-btn
                                fab
                                dark
                                small
                                color="green"
                        >
                            <v-icon style="top:15px;">edit</v-icon>
                        </v-btn>
                        <v-btn
                                fab
                                dark
                                small
                                color="indigo"
                        >
                            <v-icon>add</v-icon>
                        </v-btn>
                        <v-btn
                                fab
                                dark
                                small
                                color="red"
                        >
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-speed-dial>
                                <v-card color="white">
                                    <div v-if="jsonarticle[0].image_entete !== null">
                                        <v-card-media
                                                :src="this.jsonarticle[0].image_entete"
                                                height="500px"
                                        ></v-card-media>
                                    </div>
                                    <div v-else>
                                        <v-card-media
                                                :src="require('@/assets/img/noimg.png')"
                                                height="500px"
                                        ></v-card-media>
                                    </div>
                                    <v-card-title>
                                        <div>
                                            <h1 class="headline mb-0">{{this.jsonarticle[0].titre}}</h1>
                                            <h3 v-html="this.jsonarticle[0].statut"></h3>
                                        </div>
                                    </v-card-title>
                                    <v-divider></v-divider>
                                    <v-card-text>
                                        <div v-html="this.jsonarticle[0].contenu"></div>
                                    </v-card-text>
                                </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </main>
</template>

<script>
    export default {
        name: "showPage",
        mounted() {
            this.getArticle(this.$route.params.id)
        },
        data: () => ({
            jsonarticle: '',
        }),
        methods: {
            getArticle(id) {
                let sqlite = this.$db.sqlite;
                let db = new sqlite.Database(this.$db.filename, (err) => {
                    if (err) {
                        console.error(err.message);
                    }
                });
                let sql = "SELECT * from page where id=?";
                var jsonArticles = [];
                db.all(sql, [id], (err, rows) => {
                    if (err) {
                        throw err;
                    }
                    rows.forEach((row) => {
                        var jsonarticle = new Object();
                        jsonarticle.contenu = row.contenu;
                        jsonarticle.titre = row.titre;
                        jsonarticle.statut = row.statut;
                        if (row.image_entete != null) {
                            var blob = new Blob([row.image_entete.buffer]);
                            jsonarticle.image_entete = URL.createObjectURL(blob)
                        } else {
                            jsonarticle.image_entete = row.image_entete;
                        }

                        jsonArticles.push(jsonarticle)
                    })
                });
                this.jsonarticle = jsonArticles;
            },
        },
    }
</script>

<style scoped>
    main {
        padding-top: 50px;
        position: relative;
        overflow: auto;
        padding-left: 300px;
        height: 100vh;
        width: 100%;
        background-color: #d8d8d8;
    }

</style>