<template>
    <div>
    <div v-bind:onclick="emitToParent()">
        <v-navigation-drawer
                v-model="drawer"
                :mini-variant.sync="mini"
                absolute
                permanent
                class="white"
                style="padding-top: 50px">
            <v-toolbar flat class="transparent" >
                <v-list class="pa-2">
                    <v-list-tile avatar>
                        <v-list-tile-avatar style="padding-right: 16px">
                            <img src="https://randomuser.me/api/portraits/men/85.jpg">
                        </v-list-tile-avatar>
                        <v-list-tile-content style="overflow: unset;">
                            <div>
                                <div>
                                    <h5 class="headline mb-0">{{this.login}}
                                        <v-btn
                                                style="margin-left: 80px"
                                            icon
                                            @click.stop="mini = !mini"
                                    >
                                        <v-icon>chevron_left</v-icon>
                                    </v-btn></h5>
                                </div>
                                <div style="margin-top: -20px">{{this.url_wordpress}}
                                    <v-btn @click.stop="dialog = true"  icon>
                                        <v-icon>settings</v-icon>
                                    </v-btn>
                                </div>
                            </div>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-list class="pt-3">
                <v-divider></v-divider>

                <v-list-tile
                        v-for="item in items"
                        :key="item.title"
                        :to="{name: item.href}"
                        ripple
                >
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </div>
        <v-layout row justify-center>
            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" >
                <v-card color="white">
                    <v-toolbar  color="blue" style="padding-top: 32px">
                        <v-btn icon dark @click.native="dialog = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Profil de {{this.login}}</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                            <v-btn dark flat @click.native="dialog = false">Save</v-btn>
                        </v-toolbar-items>
                    </v-toolbar>
                    <v-list three-line subheader>
                        <v-subheader>User Controls</v-subheader>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Content filtering</v-list-tile-title>
                                <v-list-tile-sub-title>Set the content filtering level to restrict apps that can be downloaded</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Password</v-list-tile-title>
                                <v-list-tile-sub-title>Require password for purchase or use password to restrict purchase</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-dialog>
        </v-layout>

</div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: 'sidebar',
        computed: mapState({}),
        mounted() {
            if (localStorage.getItem('login')) this.login = JSON.parse(localStorage.getItem('login'));
            if (localStorage.getItem('wpUrl')) this.url_wordpress = JSON.parse(localStorage.getItem('wpUrl'));
        },
        data: () => ({
            mini: true,
            drawer: true,
            dialog: false,
            items: [{
                href: 'accueil',
                router: true,
                title: 'Accueil',
                icon: 'home',
            }, {
                href: 'ecrirePage',
                router: true,
                title: 'Ecrire un(e) Article/Page',
                icon: 'create',
            }, {
                href: 'blog',
                router: true,
                title: 'Visionner votre Blog',
                icon: 'open_in_browser',
            }, {
                href: 'galerie',
                router: true,
                title: 'Afficher votre galerie de photo',
                icon: 'collections',
            }, {
                title: 'Deconnexion',
                icon: 'exit_to_app',
            }],
            login: '',
            url_wordpress: '',
        }),
        methods: {
            disconnect: function (event) {
                event.preventDefault();
                localStorage.clear();
                this.$router.push('/')
            },
            emitToParent (event) {
                this.$emit('childToParent', this.mini)
            }
        },
    }


</script>

<style scoped>

</style>