<template>
    <div id="title-bar">

        <div id="title"><img contain :src="require('@/assets/img/256x256.png')" width="28px" style="padding-top: 2px"></div>

        <div id="title-bar-btns">

            <button id="min-btn" v-on:click="minimize"><i class="material-icons">remove</i></button>

            <button id="max-btn" v-on:click="maximize"><i class="material-icons">check_box_outline_blank</i></button>

            <button id="close-btn" class="closebtn  " v-on:click="close"><i class="material-icons">close</i></button>
        </div>

    </div>
</template>

<script>
    const remote = require('electron').remote;
    const window = remote.getCurrentWindow();
    export default {
        name: "titlebar",
        methods: {
            maximize: function () {
                if (!window.isMaximized()) {
                    window.maximize();
                } else {
                    window.unmaximize();
                }
            },
            minimize: function () {
                window.minimize();
            },
            close: function () {
                window.close();
            }
        }
    }
</script>

<style scoped>


    #title-bar {
        z-index: 1000;
        position: fixed;
        overflow:hidden;
        -webkit-app-region: drag;
        width: 100%;
        height: 32px;
        padding: 0px;
        margin: 0px;
        background-color: #2c2f33;
        font-family: sans-serif;
    }



    #title {
        color: white;
        padding-left: 10px;
        top: 0px;
        left: 12px;
        line-height: 32px;
        font-size: 14px;
        background-color: #2c2f33;
    }



    #title-bar-btns {
        -webkit-app-region: no-drag;
        position: fixed;
        top: 0px;
        right: 0px;
    }



    #title-bar-btns button {
        height: 32px;
        width: 32px;
        background-color: transparent;
        border: none;
        color: #F1F1F1;
        font-size: 16px;
    }

    #title-bar-btns button:hover {
        background-color: #616163;
    }

    .closebtn:hover
    {
        background-color: red !important;
    }

</style>