<template>
    <div id="app">
        <Style></Style>
        <titlebar></titlebar>
        <div v-show="$route.path != '/'">
            <div v-show="$route.path != '/initUser'">
                <sidebar v-on:childToParent="onChildClick"></sidebar>
            </div>
        </div>
        <transition name="page" mode="out-in">
            <router-view v-if="this.isMini === true" style="padding-left: 81px"></router-view>
            <router-view v-if="this.isMini === false" style="padding-left: 300px"></router-view>
        </transition>
    </div>
</template>

<script>
    import 'vuetify/dist/vuetify.min.css' // Ensure you are using css-loader
    import 'material-design-icons-iconfont/dist/material-design-icons.css'
    import Sidebar from "./components/common/sidebar";
    import Titlebar from "./components/common/titlebar";


    export default {
        name: 'wp-edits',
        components: {Titlebar, Sidebar},
        data () {
            return {
                isMini: ''
            }
        },
        methods: {
            // Triggered when `childToParent` event is emitted by the child.
            onChildClick(value) {
                this.isMini = value
            }
        }
    }
</script>

<style>
    html {
        overflow: hidden !important;
        overflow-y: hidden !important;
    }

    body {
        padding: 0px;
        height: 100%;
        margin: 0px;
    }

    .page-enter-active, .page-leave-active {
        transition: opacity 1s, transform 1s;
    }

    .page-enter, .page-leave-to {
        opacity: 0;
    }

</style>

